@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Baggrundsfarver */
  .bg-hav-100 {
    background-color: var(--hav-100);
  }

  .bg-hav-90 {
    background-color: var(--hav-90);
  }

  .bg-hav-80 {
    background-color: var(--hav-80);
  }

  .bg-hvid {
    background-color: var(--hvid);
  }

  .bg-sort {
    background-color: var(--sort);
  }

  .bg-grey-90 {
    background-color: var(--grey-90);
  }

  .bg-grey-70 {
    background-color: var(--grey-70);
  }

  .bg-grey-10 {
    background-color: var(--grey-10);
  }

  /* Tekstfarver */
  .text-hav-100 {
    color: var(--hav-100);
  }

  .text-hav-90 {
    color: var(--hav-90);
  }

  .text-hav-80 {
    color: var(--hav-80);
  }

  .text-hvid {
    color: var(--hvid);
  }

  .text-sort {
    color: var(--sort);
  }

  .text-grey-90 {
    color: var(--grey-90);
  }

  .text-grey-70 {
    color: var(--grey-70);
  }

  .text-grey-10 {
    color: var(--grey-10);
  }
  /*nye farver*/


  .text-blue-100{
    color: var(--blue-100);
  }

  .text-blue-90{
    color: var(--blue-90);
  }

  .text-blue-20{
    color: var(--blue-20);
  }

  .text-pink-100{
    color: var(--pink-100);
  }

  .text-pink-50{
    color: var(--pink-50);
  }

  .text-pink-hover{
    color: var(--pink-hover);
  }

  .bg-blue-100{
    background-color: var(--blue-100);
  }

  .bg-blue-90{
    background-color: var(--blue-90);
  }

  .bg-blue-20{
    background-color: var(--blue-20);
  }

  .bg-pink-100{
    background-color: var(--pink-100);
  }

  .bg-pink-50{
    background-color: var(--pink-50);
  }

  .bg-pink-hover{
    background-color: var(--pink-hover);
  }



  /* Font */
  .font-regular {
    font-weight: var(--font-weight-regular);
  }

  .font-bold {
    font-weight: var(--font-weight-bold);
  }

  /* Størrelser */
  .text-large {
    font-size: var(--font-size-large);
  }

  .text-medium {
    font-size: var(--font-size-medium);
  }

  /* Skrifttyper */
  .font-primary {
    font-family: var(--primary-font);
  }

  .font-h1 {
    font-family: var(--h1-font);
  }

  .font-sansation{
    font-family: var(--sansation);
  }

  .font-operetta{
    font-family: var(--operetta);
  }

  .font-seasons{
    font-family: var(--seasons);
  }
}

/* Root variable definitions */
:root {
  /* Farver - Primary */
  --hav-100: #007975; 
  --hav-90: #4FA19E;
  --hav-80: #9BCDCB;
  --hvid: #FFFFFF;
  --sort: #000000;

  /* Farver - Secondary */
  --grey-90: #303030;
  --grey-70: #718183;
  --grey-10: #C9C9C9;


  /* nye farver */

  --blue-100:#1F2D32;
  --blue-90:#4C656F;
  --blue-20:#A2B0B6;
  --pink-100:#BC1359;
  --pink-50:#EB4C8E;
  --pink-hover:#E1CED6;
  


  /* Font */
 /* --primary-font: 'proxima-nova', sans-serif; */
  --primary-font: 'quasimoda', sans-serif; 
  --h1-font: 'Margot', sans-serif; 
  --sansation:'Sansation Light';
  --operetta:'operetta-12';
  --seasons:"the-seasons";


  /* Font størrelser */
  --font-size-small: 0.875rem; /* 14px */
  --font-size-medium: 1rem; /* 16px */
  --font-size-large: 1.25rem; /* 20px */

  /* Font vægte */
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --font-weight-light: 300;
  --font-weight-extralight: 100;
}

  @import url("https://use.typekit.net/prt2ztm.css");
  @import url("https://use.typekit.net/prt2ztm.css");
  @import url("https://use.typekit.net/prt2ztm.css");


  @font-face {
    font-family: 'Sansation Light';
    src: url('/fonts/Sansation-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
