---
import "../styles/tailwind.css"
import "../styles/style.css"
import Button from "../components/Button.astro"
import MainLayout from "../layouts/MainLayout.astro"
import Link from "../components/Link.astro"
---
<MainLayout title="Webportfolio">

<section id="section-1" class="bg-hav-80">

 <article class="bg-grey-90 border-radius">



 </article>


	</section>

	<section id="section-2" class="bg-hav-100">


		
	</section>

	<section id="section-3" class="bg-grey-90">


		
	</section>


	<section id="section-4" class="bg-hav-80">


		
	</section>
</MainLayout>

	
		




