---
import "../styles/tailwind.css"
import "../styles/style.css"
import Button from "../components/Button.astro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		
		<section id="section-1" class="bg-hav-80">



		</section>

		<section id="section-2" class="bg-hav-80">


			
		</section>

		<section id="section-3" class="bg-hav-80">


			
		</section>


		<section id="section-4" class="bg-hav-80">


			
		</section>


	</body>
</html>
