---

const {variant="primary", } = Astro.props;


// gælder for alle //
const buttonStyling = "transition-transform duration-300 ease-in-out transform hover:scale-105 rounded-full px-2 py-4 border border-hav-10 font-primary text-hvid text-medium md:text-large md: w-[197px] md:p-4";

const variantClasses ={
"primary": "bg-hav-100 hover:bg-hav-80 hover:text-hav-100 hover:border-hav-100",
"secondary": "bg-grey-90 hover:bg-grey-10 hover:text-grey-90 hover:border-grey-90",

};



---

<button class:list={[buttonStyling, variantClasses[variant]]}><slot /></button>
