---

const {variant="primary", size="small" } = Astro.props;


// gælder for alle //
const buttonStyling = " text-hvid font-extralight transition-transform duration-300 ease-in-out transform hover:scale-105 rounded-full  border border-hav-10 ";

const variantClasses ={
"primary": "bg-blue-90 hover:bg-blue-20 hover:text-blue-90 hover:border-blue-90",
"secondary": "bg-pink-100 hover:bg-pink-hover hover:text-pink-100 hover:border-pink-100",
"tertiary":"bg-[#ff6ebc] hover:bg-[#F0E0E8]"

};

const sizeClasses={
    "default": " px-2 py-4 text-medium md:text-large md: w-[197px] md:p-4",
    "small": " p-2 text-hvid px-4 text-large ",
    "smaller": " p-2 px-4 text-small md:text-5xl md:px-8 md:pt-6 md:pb-8",
    "smallest":" p-2 px-4 text-small",
}



---

<button class:list={[buttonStyling, variantClasses[variant], sizeClasses[size]]}><slot /></button>
