---
// Henter parametrene fra Astro.props
// Henter parametrene fra Astro.props, inklusive size og variant
const { href = "#", target = "_self",  } = Astro.props;



const linkStyling ="font-primary text-black hover:underline underline-offset-1 text-h3-m";






---



<a href={href} class:list={[linkStyling]} target={target}><slot /></a>

